body {
	background: #fff;
}

.input-field .prefix.active {
    color: #FF7C00;
}

.input-field input[type=text]:focus, .input-field input[type=password]:focus, .input-field input[type=email]:focus {
    border-bottom: 1px solid #CFB53B !important;
    box-shadow: 0 1px 0 0 #CFB53B !important;
    color: #111;
}

.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label {
    color: #CFB53B !important;
    color: #111;
}

.main-div {
	margin-top: 13vh;
}

.content-div{
	margin-top:20px;
}

.text-custom {
	 color: #FF7C00;
}

.bg-custom {
	 background: #FF7C00;
}

.bg-custom:hover {
	 background: #FF7C00;
}


.navbar-custom {
	background: #fff;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8) !important;
	padding: 0 10px;
}

.navbar-custom li a {
	color: #111;
}

.navbar-img{
	height: 50px;
}

.auth-page-logo {
	height: 100px;
	width: 100px;
	margin-left: 35%;
}

.side-div {
	height: 90vh;
	background-image: #111;
	padding: 0px;
	background-attachment: fixed;
	margin-top: 20px;
}

.side-div li {
	display: block;
	background: transparent;
	height: 50px;
	line-height: 40px;
}

.side-div a {
	list-style-type: none;
	padding: 5px;
	display: block;
	color: #444;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
	font-size: 13px;
}

.side-div li:hover a {
	color: #FF7C00;
}

.selected a {
	color: #fff;
	border: 1px solid #FBB036;
	border-radius: 5px;
	background: #FBB036;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
}

li.selected:hover a {
	color: #fff;
	transform: none;
}

.side-div li a i {
	font-size: 10px;
}

.custom-side-nav {
	background: #111;
}

.custom-side-nav li a{
	color: #f7f7f7;
}

/* for the dashboard page*/
.dashboard-summary-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #444;
	font-weight: bold;
	width: 100%;
	margin-bottom: 5px;
}

.dashboard-summary-duo-item {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: inherit;
	padding: 5px;
}

.dashboard-summary-item h1 {
	padding: 0px;
}

.leaderboard-table {
	color: #444;
}

.leaderboard-graph-div {
	height: 30vh;
}

.cat-table {
	color: #444;
}

.cat-detail-link {
	cursor: pointer;
}

.nominee-thumbnail {
	height: 70px;
	width: 70px;
}

@media only screen and (max-width: 992px) {
	.side-div{
		display: none;
	}
}